@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
}
body{
	width: 1920px;
	margin: 0 auto;
}
header {
	display: block;
	height: 1024px;
	width: 1920px;
	background-image: url(icons/background.png);
	background-color: cornsilk;
	color: white;
	margin: 0px;
}
#logo_svg, #logo_svg path{
	width: 63px;
	height: 66px;
	fill: #ffffff;
}
#Logo p{
	display: inline-block;
	color: white;
	font-size: 34px;
	position: absolute;
	margin-top: 15px;
}
#Logo{
	display: inline-block;
	margin-top: 40px;
	margin-left: 375px;
	width: 155px;
}
#Logo:hover p{
	color: #c7b299;
}
#Logo:hover #logo_svg, #Logo:hover path{
	fill: #c7b299;
}
header li:hover, img:hover, a:hover, #serch:hover{
	color: #c7b299;
}
.burger{
	width: 64px;
	height: 40px;
	display: none;
	position: absolute;
	margin-top: 55px;
	margin-left: 275px;
}
.burger:hover path{
	fill: #c7b299;
}
header a{
	text-decoration: none;
	color: white;
}
#logo{
	margin: 40px 0px 0px 376px;
}
.header_ul{
	display: inline-block;
	position: absolute;
	margin: 60px 0px 0px 220px;
	width: 720px;
	padding: 0px;
}
.header_ul ul{
	display: block;
	list-style-type: none;
	width: 680px;
}
.header_ul a{
	margin-left:30px;
}
#cart{
	display: inline-block;
	position: absolute;
	margin: 55px 0px 0px 1005px;
		
}
#serch{
	margin: 55px 0px 0px 1050px;
	display: inline-block;
	width: 210px;
	height: 24px;
	align-content: center;
	position: absolute;
}
#serch input{
	position: absolute;
	border: 0px;
	padding: 0px;
	margin-left: 5px;
	margin-top: 0px;
	height: 24px;
	display: inline-block;
	
}
#header_text{
	display: block;
	margin: 380px 0px 0px 665px;
	text-align: center;
	align-content: center;
	width: 707px;
	height: 265px;
}
#header_text h1{
	font-size: 52pt;
}
#header_text h2{
	font-size: 36pt;
}
#header_text p{
	font-size: 16pt;
}
#GS{
	width: 170px;
	height: 52px;
	border-radius: 3px;
	font-size: 14pt;
	background-color: #998675;
	margin: 50px auto 0px;
}
#GS:hover{
	color: white;
}
#GS p{
	margin: 0px;
	padding-top:13px;
	text-align: center;
}
#partners{
	display: block;
	margin: 0px;
	height: 489px;
	width: 1920px;
	background-image: url(icons/background_partners.png);
	align-content: center;
}
#partners .barber{
	display: inline-block;
	position: absolute;
	margin: 181px 0px 0px 406px;
}
#partners .delicious{
	display: inline-block;
	position: absolute;
	margin: 140px 0px 0px 706px;
}
#partners .designer{
	display: inline-block;
	position: absolute;
	margin: 180px 0px 0px 1009px;
}
#partners .cafe{
	display: inline-block;
	position: absolute;
	margin: 163px 0px 0px 1306px;	
}
aside{
	background-image:url(icons/Background_aside.png)
}
#aside1{
	width: 1920px;
	height:150px;
}
#aside1 h2{
	font-size: 28pt;
	color:white;
	display: inline-block;
	width: 700px;
	height: 40px;
	margin: 0px;
	padding: 50px 0px 0px 376px;
}
#aside1 h2 #name{
	color: #92816f;
}
#aside_span{
	display: inline-block;
	color: #4a413e;
	font-size: 18pt;
	margin: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 15px;
	margin-left: 376px;
	padding: 0px;
	width: 510px;
}
#PN{
	position: absolute;
	color: white;
	width: 170px;
	height: 48px;
	border: 1px solid #998675;
	border-radius: 3px;
	display:inline-block;
	padding: 0px;
	margin: -30px 0px 0px 491px;
}
#PN p {
	margin: 0px;
	padding-top:13px;
	text-align: center;
}
#PN a:hover{
	color: #c7b299;
}
#PN a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 14pt;
	background-color: #998675;
	width: 100%;
	height: 100%;
}
#aside2{
	width: 1920px;
	height:300px;
	background-repeat: repeat-y;
}
#aside2 figure{
	display: inline-block;
	text-align: center;
	color: #c7b299;
	width: 139px;
	height: 171px;
	margin-left: 60px;
}
#aside2 p{
	font-size: 14px;
}
#aside2 h2{
	font-size: 48pt;
	color: white;
}
.zero{
  content: "";
  position:relative;
  margin-left: 37.5%;
  width: 25%;
  height: 3px;
  background-color: white;
  margin-top: 30px;
}
#aside2 #figure1{
	margin-top: 69px;
	margin-left: 495px;
}

footer{
	margin: 0px;
	display: block;
	height: 620px;
	width: 1920px;
	color: #2c2c2c;
	
}
#footer1 .OT{
	color:#555555;
}
#footer1{
	margin: 0px;
	display: block;
	height: 509px;
	width: 1920px;
	background-color: #191919;
	align-content: center;
	
}
#footer1 a{
	text-decoration: none;
	color: white;
	
}
#footer1 ul{
	list-style-type: none;
}
#footer1 li{
	height: 350px;
	width: 270px;
	display: inline-block;
	position: absolute;
	margin-top: 90px
}
li .l1{
	margin-left: 375px;
	margin-top: 80px;
}
li .l2{
	margin-left: 675px;
}
li .l3{
	margin-left: 975px;
}
li .l4{
	margin-left: 1275px;
}
#footer1 ul .DW{
	margin-left: 1275px;
}
#footer1 h2{
	color: white;
	font-size: 24px;
}
#footer2{
	margin: 0px;
	display: block;
	height: 111px;
	width: 1920px;
	background-color: #111111;
}
#footer2 a{
	text-decoration: none;
	color: #959595;
}
.footer_li2 h6{
	color:#212121;
}
.RP_block1:hover h6, .RP_block2:hover h6, .RP_block3:hover h6{
	color:white;
}
.RP_block1:hover p, .RP_block2:hover p, .RP_block3:hover p{
	color:#c7b299;
}
#footer1 ul #footer_li1{
	margin-left: 375px;
}
#footer1 ul .footer_li2{
	margin-left: 675px;
}
#footer1 ul .footer_li3{
	margin-left: 975px;
}
#footer2 .FAQ{
	color:#c7b299;
}
.footer_span1,.footer_span2{
	margin-top: 45px;
	font-size: 13pt;
}
.footer_span1{
	display: inline-block;
	margin-left: 375px;
}
.footer_span2{
	display: inline-block;
	margin-left: 450px;
}
#footer_li1{
	margin-top: 110px;
}
#Waxom{
	height: 205px;
	line-height: 20px;
	text-align: left;
	padding: 30px 0px 0px;
}
#Waxom p{
	line-height: 20px;
}
#footer_li1 a{
	margin-top: 30px;
	display: inline-block;
}
#footer_li1 a:hover{
	color: #c7b299;
}
.RP_block1, .RP_block2{
	border-bottom: 2px solid #252525;
	padding-bottom: 20px;
}
.RP_block1, .RP_block2, .RP_block3{
	width: 100%;
	height: 55px;
}
.RP_block1 h6, .RP_block2 h6, .RP_block3 h6{
	font-size: 12px;
	color: #212121;
	padding-bottom: 10px;
}
.RP_block1 p, .RP_block2 p, .RP_block3 p{
	font-size: 14px;
}
.RP_block1{
	padding-top: 30px;
}
.RP_block2, .RP_block3{
	padding-top: 20px;
}
.twitter{
	color: #00bff3;
}
#link{
	color: #8d8d8d;
}
.OT_h{
	padding-top: 12px;
	padding-bottom: 20px;
	color: #212121; 
}
.OT{
	
}
.DW{
	width: 300px;
}
.DW img{
	height: 98px;
	width: 130px;
}
.photo1, .photo2{
	margin-top: 25px;
	margin-bottom: 5px;
}
.photo1, .photo3{
	margin-left: 0px;
	margin-right: 5px;
}
.photo3, .photo4{
	margin-bottom: 0px;
	margin-top: 5px;
}
.photo4, .photo2{
	margin-right: 0px;
}
.YI{
	height: 1050px;
	width: 1920px;
	margin: 0px;
	display: block;
	background-color: white;
	color: #555555;
}
.YI figure{
	display: inline-block;
	width: 270px;
	height: 210px;
	margin-top: 80px;
	margin-left: 35px;
	text-align: center;
}
.YI #figure_left{
	margin-left: 375px;
}
.YI #pen{
	width: 47.76px;
	height: 47.76px;
	margin: 0 auto;
}
.YI #book{
	width: 42.854px;
	height: 39.167px;
	margin: 0 auto;
}
.YI #gear{
	width: 43.57px;
	height: 43.57px;
	margin: 0 auto;
}
.YI #portpholio{
	width: 51.27px;
	height: 35.65px;
	margin: 0 auto;
}
.YI .zero{
	background-color: #f1eee9;
	content: "";
  	position:relative;
  	margin-left: 37.5%;
  	width: 25%;
  	height: 3px;
}
.YI h3{
	margin-top: 30px;
	font-size: 22px;
}
.YI p{
	margin-top: 20px;
	font-size: 14px;
}
.YI svg, .YI path{
	fill: #555555
}
.YI figure:hover h3, .YI figure:hover path, .YI figure:hover svg{
	color: #c7b299;
	fill: #c7b299;
}
.YI figure:hover .zero{
	background-color: #c7b299;
}
.YI h2 {
	font-size: 30px;
	margin-top: 165px;
	margin-left: 720px;
}
.YI #YI_text{
	margin-top: 30px;
	width: 757px;
	margin-left: 582px;
	font-size: 16px;
	text-align: center;
}
.YI img{
	margin-left: 346px;
}
.Video{
	height: 705px;
	width: 1920px;
	margin: 0px;
	display: block;
	background-color: #5d6065;
	background-image: url(icons/photo.png)
}
#video_play{
	width: 570px;
	height: auto;
	padding: 210px 0px 0px 676px;
	color: white;
	text-align: center;
}
#video_play img{
	background-color: #5d6065;
	opacity: 0.85;
	border-radius:50%;
	border: 16px solid #5d6065;
	padding: 0 auto;
}
#video_play img:hover{
	border: 16px solid #c7b299;
	background-color: #c7b299;
}
#video_play h3{
	font-size: 30px;
	padding-top: 45px;
}
#video_play #text_1{
	padding-top: 30px;
	line-height: 20px;
}
#video_play #time{
	color: #c7b299;
	font-size: 14px;
	padding-top: 40px;
}
.MD{
	height: 695px;
	width: 1920px;
	margin: 0px;
	display: block;
	background-image: url(icons/iPhone_in_hand.png);
}
.MD article{
	display: block;
	width: 672px;
	color: #8c8c8c;
	text-align: left;
	margin: 195px 0px 0px 876px;
}
.MD h2{
	font-size: 30pt;
	color: #555555;
}
.MD p{
	margin: 40px 0px 0px 0px;
	line-height: 20px;
}
.MD ul{
	list-style-image: url(icons/02.png);
	margin: 42px 0px 0px 925px;
	color: #8c8c8c;
}
.MD li{
	margin-top: 12px;
}
.MD li:hover{
	color: #c7b299;
}

.RP{
	height: 755px;
	width: 1920px;
	margin: 0px;
	display: block;
	text-align: center;
	color: #555;
}
.RP h2{
	margin-top: 85px;
	font-size: 30px;
}
.RP #RP_titile{
	width: 760px;
	margin: 35px auto 0px;
	font-size: 16px;
}
.RP_block{
	width: 370px;
	height: 395px;
	display: inline-block;
	margin-top: 40px;
	margin-left: 30px;
	text-align: left;
}
.RP .arrow{
	position: absolute;
	display: inline-block;
	margin-top: 475px;
}
#arrow1{
	margin-left: -610px;
}
#arrow2{
	margin-left: -580px;
}
.date{
	position: absolute;
	margin: 20px 0px 0px 20px;
	border-radius: 3px;
	color: white;
	width: 50px;
	height: 60px;
}
.date .day{
	text-align: center;
	background-color: #363636;
	margin: 0px;
	height: 35px;
	width: 50px;
	border-radius: 3px 3px 0px 0px;
}
.Month{
	text-align: center;
	background-color: #252525;
	margin: 0px;
	height: 25px;
	width: 50px;
	border-radius: 0px 0px 3px 3px;
}
.date h4{
	display: inline-block;
	font-size: 12px;
	padding-top: 2.5px;
}
.date h3{
	display: inline-block;
	padding-top: 5px;
	font-size: 24px;
}
.RP_block img{
	margin: 0px;
	padding: 0px;
}
.RP_block:hover .text_block{
	background-color: #362f2d;
	color: white;
}
.RP_block:hover .text_block h3, a{
	color: #c7b299;
}
.RP_block:hover .date .day{
	background-color: #c7b299;
}
.RP_block:hover .date .Month{
	background-color: #a48d72;
}
.text_block h3{
	font-size: 20px;
	padding-top: 30px;
	padding-left: 30px;
}
.text_block p{
	padding-left: 30px;
	padding-top: 20px;
}
.RP_block a{
	text-decoration: none;
	color: #c7b299;
	padding-top: 28px;
	padding-left: 30px;
	display: inline-block;
}
.text_block{
	width: 100%;
	height: 175px;
	margin: 0px;
	margin-top:-5px;
}
.OLP{
	width: 1920px;
	margin: 0px;
	display: block;
	height: 1165px;
	text-align: center;
}
.OLP h2{
	font-size: 30pt;
	margin-top: 80px;
	color: #555555;
}
#Title{
	width: 760px;
	color: #555555;
	margin: 22px auto 0px;
	font-size: 16px;
}
.OLP a{
	border: 1px solid #ebebeb;
	text-decoration: none;
	color: #8c8c8c;
	font-size: 14px;
	height: 32px;
	display: inline-block;
	border-radius: 3px;
	width: 120px;
	margin-top: 40px;
	margin-left: 10px;
}
#All{
	background-color: #998675;
	color: white;
	width: 70px;
}
.OLP a p{
	padding-top: 10px;
}
.OLP a:hover{
	background-color: #998675;
	color: white;
}

#article1{
	margin-left: 376px;
}

#article2{
	margin-left: 776px;
}

#article3{
	margin-left: 1176px;
}

#article4{
	margin-top: 510px;
	margin-left: 376px;
}
#article5{
	margin-top: 510px;
	margin-left: 776px;
}
#article6{
	margin-top: 510px;
	margin-left: 1176px;
}

.article-preview {
  width: 370px;
  height: 337px;
  margin: 110px 30px 0px;
  position: absolute;
  display: block;
}

.article-preview__photo {
  width: 370px;
  height: 237px;
  display: block;
  background-color: royalblue;
}

.article-preview__header {
  padding: 30px 0px 0 30px;
  height: 100px;
  box-sizing: border-box;
  display: inline-block;
  width: 372px;
  background-image: url(ad);
  background-color: white;
  text-align: left;
}

.article-preview__header h2 {
  font-family: Raleway;
  color:  #c7b29a;
  font-size: 20px; 
  font-weight: 500;
  text-align: left;
  margin: 0 0 14px 0;
  margin: 0;
}

.article-preview__header span {
  font-family: Montserrat;
  color:  #d1d1d1;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.article-preview:hover .article-preview__header {
  background-color:  #362f2d;
}

.article-preview:hover .article-preview__photo {
  filter: opacity(25%);
}

.article-preview:hover:before {
  content: url(icons/link.png);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35%;
  left: 35%;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.article-preview:hover:after {
  content: url(icons/lupa.png);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35%;
  left: 55%;
  right: 0;
  bottom: 0;
  opacity: 1;
}

#article1{
	margin-left: 376px;
}

.article-preview__header:after {
content: '';
position: absolute;
width: 0;
height: 0;
/* border: 15px solid; */
border-bottom-color: transparent;
border-top-right-radius: 300px;
border-top-left-radius: 300px;
background: transparent;
}
.article-preview__header-top:after {
  content: "";
border-bottom-color: white;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 20px solid white;
left:20px;
bottom: 100px;
/* background: white; */
}
.article-preview:hover .article-preview__header-top:after{
	border-bottom-color: #362f2d;
}

@media (max-width: 605px) {
	header{
		width: 605px;
		height: 140px;
	}
	#Logo{
		margin-left: 35px;
	}
	#header_text, .header_ul, #cart, #serch{
		display: none;
	}
	.burger{
		display: inline-block;
	}
	.YI{
		width: 605px;
		height: 465px;
	}
	.YI figure{
		display: inline-block;
		position: absolute;
	}
	#figure_right_1, #figure_right_2{
		margin-left: 305px;
	}
	.YI #figure_left, #figure_left_2{
		margin-left: 10px;
	}
	#figure_left, #figure_right_1{
		margin-top: 10px;
	}
	#figure_left_2, #figure_right_2{
		margin-top: 265px;
	}
	#figure_left_2{
		margin-top: 255px;
	}
	#YI_text, .YI h2, .YI img{
		display: none;
	}
	aside, .OLP{
		display: none;
	}
	.Video{
		width: 605px;
		height: 705px;
		background-image: url(icons/video_cut.png)
	}
	#video_play{
		padding-left: 0px;
	}
	.MD{
		background-image: url(icons/MB_cut.png);
		width: 605px;
		height: 600px;
		margin-top: -60px;
	}
	.MD ul{
		margin-left: 260px;
		margin-top: 50px;
	}
	.MD ul li{
		margin-top: 10px;
	}
	.MD article{
		margin: 60px 0px 0px 40px;
		height: 150px;
		width: 535px;
		display: inline-block;
	}
	.RP{
		width: 605px;
		height: 1405px;
	}
	.RP_block{
		margin-top: 15px;
	}
	.RP #RP_titile{
		width: 535px;
		margin-bottom: 15px;
	}
	.RP h2{
		display: inline-block;
		margin-top: 50px;
	}
	#partners{
		background-image: url(icons/partners_cut.png);
		width: 605px;
		height: 180px;
	}
	#partners .barber{
		height: 65px;
		width: 107px;
		margin-left: 45px;
		margin-top: 60px;
	}
	#partners .delicious{
		margin-top: 50px;
		margin-left: 190px;
		width: 92px;
		height: 90px;
	}
	#partners .designer{
		margin-top: 60px;
		margin-left: 340px;
		width: 115px;
		height: 75px;
	}
	#partners .cafe{
		margin-top: 55px;
		margin-left: 480px;
		width: 105px;
		height: 80px;
	}
	footer{
		width: 605px;
		height: 175px;
	}
	#footer1 ul #footer_li1{
		margin-left: 375px;
		margin-top: 80px;
	}
	#footer1{
		display: none;
	}
	#footer2{
		width: 605px;
		height: 175px;
		text-align: center;
	}
	#footer2 .footer_span1{
		margin-left: 25px;
	}
	#footer2 .footer_span2{
		margin-left: 40px;
		margin-top: 45px;
	}
}